.fondo{
    background-image: url(../img/extrovertido.jpg);
    background-size: 1326px 698px;
    background-repeat: no-repeat;
}

footer{
    color: black;
    position: absolute;
    left: 100px;
    top: 600px;
    opacity: 0.3;
    font-style: italic;
}


.recuadro{
    position: absolute;
    border-radius: 80px;
    background-color: rgb(255, 255, 255, 0.2);
    width: 1000px;
    height: 500px;
    top: 100px;
    left: 155px;
}

p{
    text-align: justify;
    font-family: cursive;
    font-weight: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

td{
    position: relative;
    border-style: double;
    border-color: #8BACDC;
    border-radius: 20px;
    font-family: cursive;
    font-weight: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    left: 115px;
}

.def{ margin-top: 50px; }

h2{ font-family: cursive; }


a{
    position: absolute;
    top: 450px;
    left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0,0,0, 0.5);
    font-weight: 12px;
    font-weight: bolder;
}

