.fondo{
    background-image: url(../img/respetuoso.jpg);
    background-size: 1326px 698px;
    background-repeat: no-repeat;
}

footer{
    color: whitesmoke;
    position: absolute;
    left: 100px;
    top: 600px;
    opacity: 0.5;
    font-style: italic;
}

.recuadro{
    position: absolute;
    border-radius: 80px;
    background-color: rgb(255, 255, 255, 0.2);
    width: 1000px;
    height: 500px;
    top: 100px;
    left: 155px;
}

p{
    text-align: justify;
    font-family: cursive;
    font-weight: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: khaki;
}

.def{ margin-top: 50px; }

h2{ 
    font-family: cursive; 
    color: khaki;
}

a{
    position: absolute;
    top: 450px;
    left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250,250,250, 0.6);
    font-weight: 12px;
    font-weight: bolder;
}

h1{
    position: absolute;
    left: 520px;
    font-family: cursive;
    font-style: italic;
    font-size: 40px;
    top: -5px;
    opacity: 0.5;
    color: khaki;
}